/* Not an actual class, just for testing colors */
.colorPaletteTest {
    color: #f8b079; 
    color: #B9F0B9;
    color: #F0934D;
    color: #614ACF;
    color: #412CA3;
    color: #ff991c;
    color: #F28500;
    color: #99C4C8;
    color: #68A7AD;
    color: #333;
    
}

$azulFondo: #2c3e50;
$primary: #2c3e50;
$secondary: #3498db;
$textSecondary: #666;
$buttonColor: #e74c3c;
$auxButton: $primary;

$textInButton: #B9F0B9;
$naranjaFondo: #CF844A;
$naranjaFondo2: #ff991c;
$colorTexto: #333;

//screen-sizes
$desktop: 992px;
$tablet: 680px;
$movil: 440px;