@import "./variables";

.Nav {
    
    background-color: $primary;
    max-width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;

    button {
        color: white;
        background-color: transparent;
        border: none;
        font-size: 28px;
        display: flex;
        align-items: center;
    }
  }